<header>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#" class="drop-search">Search</a></li>
          <div class="sign">
            <% if(true){ %>
              <li style="float:right"><a class="active2" class="login" href="/login"">Login</a></li>
            <% } else { %>
              <li><a href="/my-articles">My Articles</a></li>
              <li><a href="/newArticles">Add Articles</a></li>
              <li style="float:right"><a class="active" class="logout" href="/">Logout</a>
            <% } %>
          </div>
        </ul>
    </nav>
</header>
