<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winterest</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/grid.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/styles/grid-labs.css" type="text/css" /> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/grid-render.js"></script>
    <script type="text/javascript" src="/scripts/grid.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header><% include partials/_header.ejs %></header>
  <body>
    <div class="container-fluid">
        <div class="">
            <h2>Filtering divs</h2>
          </div>
        <!-- <div class="filter filter-basic"> -->
          <!-- <div class="filter-nav"> -->
            <div>
            <button class="btn btn-primary filter-button" data-filter ="all">All</button>
            <button class="btn btn-primary filter-button" data-filter ="Outdoors">Outdoors</button>
            <button class="btn btn-primary filter-button" data-filter ="Food">Food</button>
            <button class="btn btn-primary filter-button" data-filter ="Household">Household</button>
            <button class="btn btn-primary filter-button" data-filter ="Workplace">Workplace</button>
            <button class="btn btn-primary filter-button" data-filter ="Personal">Personal</button>
            <button class="btn btn-primary filter-button" data-filter ="Animals">Animals</button>
            <button class="btn btn-primary filter-button" data-filter ="Fitness">Fitness</button>
            <button class="btn btn-primary filter-button" data-filter ="Technology">Technology</button>
          </div>
          <div class="filter-gallery">
              <div class="grid"></div>
          </div>
        <!-- </div> -->
    </div>
  </body>
</html>

