

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/grid.css" type="text/css" />
    <link rel="stylesheet" href="/styles/viewArticle.css" type="text/css" />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<header><% include partials/_header.ejs %></header>
<body>
    <article class="article">
        <div class="article__title-container">
            <h1 class="article__title-header">User Name</h1>
        </div>
        <div class="article__body-container">
            <div class="article__imageRating">
                <div class="article__image-container">
                    <img class="article__image" src="http://ern-dubai.com/wp-content/uploads/2019/04/facebook-anonymous-app.jpg" alt="">
                </div>

            </div>
                <div class="article__descriptionUrl">
                <div class="article__description-container">
                    <h4 class="article__description"> User Name:
                      <br>email:
                      <br>Picture:
                    </h4>
                </div>
            </div>
        </div>

    </article>
</body>
</html>
