<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Article</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/grid.css" type="text/css" />
    <link rel="stylesheet" href="/styles/viewArticle.css" type="text/css" />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<header><% include partials/_header.ejs %></header>
<body>
    <article class="article">
        <div class="article__title-container">
            <h1 class="article__title-header">Corona Bottle</h1>
        </div>
        <div class="article__body-container">
            <div class="article__imageRating">
                <div class="article__image-container">
                    <img class="article__image" src="https://www.kings-de.com/images/locations/franklin/draft-room/draft-room-beers.jpg" alt="">
                </div>
                <div class="article__rating-icons">
                    <a href="#" id="article__rating-icon"><i class="fa fa-flag"></i></a>
                    <a href="#" id="article__rating-icon"><i class="fa fa-heart"></i></a>
                    <a href="#" id="article__rating-icon"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
                <div class="article__descriptionUrl">
                <div class="article__description-container">
                    <h4 class="article__description">Corona Extra is lighter than traditional beers, with a crisp and refreshing taste. This light, dry beer has pleasant malt and hop notes with a round dry finish. Regardless of the time of the year, Corona is best served ice cold, with a wedge of lime that complements and intensifies the flavour through the palate.</h4>
                </div>
                <div class="article__url-container">
                    <a class="article__url" href="https://www.coronaextra.ca/">Corona Extra</a>
                </div>
            </div>
        </div>
        <div class="article__comment-container">
          <button class="article__comments-button">
            <span class="article__submission-text">Comments</span>
            <i class="fa fa-angle-double-down article__submission-icon" aria-hidden="true"></i>
          </button>
          <section class="article__comments-container">
            <div class="article__error-message"></div>
            <form action="article__comments-form">
                <textarea class="article__comment" rows= "1" name="text" placeholder="What are you humming about?"></textarea>
                <input class="article__comment--submission" type="submit" value="Post">
                <span class="article__comment--counter">140</span>
            </form>
          </section>
        </div>
    </article>
</body>
</html>
