<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Article</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/grid.css" type="text/css" />
    <link rel="stylesheet" href="/styles/viewArticle.css" type="text/css" />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<header><% include partials/_header.ejs %></header>
<body>
    <article class="article">
        <div class="article__title-container">
            <h1 class="article__title-header"><%= article.title %></h1>
        </div>
        <div class="article__body-container">
            <div class="article__imageRating">
                <div class="article__image-container">
                    <img class="article__image" src="<%= article.thumbnail %>"" alt="">
                </div>
                <div class="article__rating-icons">
                    <a href="#" id="article__rating-icon"><i class="fa fa-flag"></i></a>
                    <a href="#" id="article__rating-icon"><i class="fa fa-heart"></i></a>
                    <a href="#" id="article__rating-icon"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
                <div class="article__descriptionUrl">
                <div class="article__description-container">
                    <h4 class="article__description"><%= article.description %>
                    </h4>
                </div>
                <div class="article__url-container">
                    <a class="article__url" href="<%= article.url %>">View Article</a>
                </div>
            </div>
        </div>
        <div class="article__comment-container">
          <button class="article__comments-button">
            <span class="article__submission-text">Comments</span>
            <i class="fa fa-angle-double-down article__submission-icon" aria-hidden="true"></i>
          </button>
          <section class="article__comments-container">
            <div class="article__error-message"></div>
            <form action="article__comments-form">
                <textarea class="article__comment" rows= "1" name="text" placeholder="What are you humming about?"></textarea>
                <input class="article__comment--submission" type="submit" value="Post">
                <span class="article__comment--counter">140</span>
            </form>
          </section>
        </div>
    </article>
    <div class="review-container">
        <article class="review">
          <header class="review-header">
            <img class="review-img" src="./images/profile-hex.png" alt="">
            <h4 class= "review-username">Keyvan</h4>
            <h4 class="review-userHandle">@keyvanzz</h4>
          </header>
          <span class="review-body">Don't let someone dim your light simply because it's shining in their eyes! &#128526;</span>
          <footer class="review-footer">
            <h4 class="review-timestamp"> 2 days ago</h4>
            <div class="review-icons">
              <a href="#"><i class="fa fa-flag"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-refresh"></i></a>
            </div>
          </footer>
        </article>
      </div>
</body>
</html>
